[submodule "apps/scraper"]
	path = apps/scraper
	url = https://github.com/docutag/scraper
[submodule "apps/controller"]
	path = apps/controller
	url = https://github.com/docutag/controller
[submodule "apps/textanalyzer"]
	path = apps/textanalyzer
	url = https://github.com/docutag/textanalyzer
[submodule "apps/web"]
	path = apps/web
	url = https://github.com/docutag/web
[submodule "apps/scheduler"]
	path = apps/scheduler
	url = https://github.com/docutag/scheduler
